@import './comm.scss';
@media screen and (min-width: 320px) {
  html {
    font-size: 85px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 376px) {
  html {
    font-size: 26.66vw;
  }
}


html {
  min-height: 100vh;
  background: $main-bg;
}

body {
  margin: 0 auto !important;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100% !important;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
* {
  margin: 0;
  padding: 0;
  touch-action: pan-y;
  font-size: 0.12rem;
  font-family: 'PingFangSC-Semibold', 'Lato', sans-serif, 'Helvetica Neue', Helvetica, Arial;
}
ul {
  list-style: none;
}
input[type='text'],
input[type='password'] {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: $inp-p;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: $inp-p;
}
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder, 
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: $inp-p;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  border-color: transparent;
  box-shadow:none;
}
.ff-input{
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  display: block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  resize: none;
  font-size: inherit;
  color: inherit;
  height: 0.3rem;
  line-height: 0.3rem;
  width: 100%;
  font-size: 0.16rem;
  color: $font-login;
}
input::-webkit-input-placeholder {
    color: $login-f-pwd;
}
input:-moz-placeholder {
  color: $login-f-pwd;
}
input::-moz-placeholder { 
  color: $login-f-pwd;
}
input:-ms-input-placeholder {
  color: $login-f-pwd;
}

.scroll-con{
  overflow: auto;
  height: calc(100vh - 0.44rem);
}
.l-but{
  background-color: $logo-but-bg;
  border-radius: 0.06rem;
  font-size: 0.18rem;
  color: $login-f-pwd;
  text-align: center;
  line-height: 0.44rem;
  margin: 0.3rem auto 0;
  a{
    font-size: 0.18rem;
  }
}
.w175{
  width: 1.75rem;
}

.ibut-cur{
	background-image: linear-gradient(90deg,$but-light-l 0%,$login-lin 100%), linear-gradient($message-icon, $message-icon);
  border-radius: 0.06rem;
  color: $font-color;
}

.comm-but{
  height: 0.44rem;
  background-image: linear-gradient(90deg,$but-light-l 0%, $login-lin 100%), linear-gradient($but-deep, $but-deep);
  border-radius: 0.06rem;
  font-size: 0.18rem;
  color: $font-login;
  text-align: center;
  line-height: 0.44rem;
}
.bg{
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    filter: "Alpha(opacity=60)";
    opacity: 0.8;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
}
.tran90{
  transform: rotate(90deg);
  transition: all 0.3s;
}
.tran270{
  transform: rotate(270deg);
  transition: all 0.3s;
}
